# IDE
*.iml
.idea

# npm
node_modules

# build
main.js
*.js.map
examples/*.js
*.zip

# .obsidian
sample-vault/.obsidian/plugins


# examples for users
examples/case

.env
.coverage
